<!DOCTYPE html>
<html>
<head>
<script type="text/javascript">
  window.close();
</script>
<style type="text/css">
body {
  padding: 20px;
  text-align: center;
}
h2 {
  font-family: helvetica, arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  margin-top: 30px;
}
button {
  background: #255A9A;
  border: 1px solid #255A9A;
  color: white;
  font-size: 14px;
  margin-top: 14px;
  padding: 10px 16px;

  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
      -ms-border-radius: 3px;
       -o-border-radius: 3px;
          border-radius: 3px;
}
</style>
</head>
<body>
  <h2>Facebook authentication has completed.</h2>
  <button onClick="window.close();">Close</button>
</body>
</html>
