@streamhub-ui: "lib/streamhub-ui/src/css";
@livefyre-bootstrap: "lib/livefyre-bootstrap/src/styles";

@import (reference) "@{streamhub-ui}/buttons.less";
@import (reference) "@{streamhub-ui}/mixins.less";
@import (reference) "@{livefyre-bootstrap}/loader.less";
@import "@{livefyre-bootstrap}/popovers.less";

@import (reference) "@{livefyre-bootstrap}/fycon-chars.less";
@import (reference) "@{livefyre-bootstrap}/fycon-styles.less";
@font-face {
    .fycons-font-face(@icon-font-path: "https://cdn.livefyre.com/libs/livefyre-bootstrap/v1.3.1/fonts/");
}
.fycons-styles();

.fycon-source-twitter {
    .fycon-source-twitter();
}

.fycon-source-facebook {
    .fycon-source-facebook();
}

.lf-content-share {
    .lf-btn();
    .lf-btn-link();
    .fycon-action-share();
    display: inline-block;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    &:before {
        margin-right: 5px;
    }
    &:active {
        .box-shadow(none);
    }
    &.disabled {
        display: none;   
    }
}


.lf-share-popover {
    .lf-popover();
    .make-lf-popover-theme(#fff, #fff, #fff, #fff, #fff, #fff);
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    .lf-popover-arrow {
        &:extend(.lf-popover .lf-arrow);
        border-width: 6px;
    }
    .lf-menu-body {
        width: 160px;
        *[class^="fycon-"]:before, [class*=" fycon-"]:before {
            margin-right: 5px;
        }
    }
    .lf-popover-content {
        padding: 0;
    }
}

.lf-share-popover.lf-pos-bottom .lf-popover-arrow {
    &:extend(.lf-popover.bottom .lf-arrow );
    border-bottom-color: white;
    margin-left: -6px;
    top: -6px;
}

.lf-share-item() {
    height: 36px;
    font-size: 14px;
    color: #fff;
    line-height: 36px;
    cursor: pointer;
    list-style: none;
}

.lf-share-item {
    .lf-share-item();
}

.lf-share .lf-twitter {
    &:extend(.lf-share-item);
    background-color: #55acee;
    border-radius: 3px 3px 0 0;
}

.lf-share .lf-facebook {
    &:extend(.lf-share-item);
    background-color: #385185;
}

.lf-share .lf-menu-foot {
    background-color: #FFF;
    &:extend(.lf-share-item);
    color: #65676E;
    border-radius: 0 0 3px 3px;

    input[type=text],textarea {
        font-size: 13px;
        padding: 3px;
        border: 1px solid #d3d3d3;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        -ms-border-radius: 3px;
        -o-border-radius: 3px;
        border-radius: 3px;
        color: #474c52;
    }
}

.lf-share .lf-share-link {
    text-decoration: none;
    color: inherit;
}
